.avatardiv{
  height: 150px;
  margin-top: 2px;
  background-color: white;
  display: flex;
  -webkit-box-shadow: 0px 1px 1px #c8c8c8;
  -moz-box-shadow: 0px 1px 1px #c8c8c8;
  box-shadow: 0px 1px 1px #c8c8c8;
  align-items: center;
  justify-content: center;
}
.avatar{
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.exit{
  margin-top: 12px;
  color: red;
}