.bookGroup{
  display: -webkit-flex; /* Safari */
  display: flex;
  margin: 12px;
  flex-wrap: wrap;
}

.bookGroup div{
  flex:0 0 33.33%;
  text-align: center;
}
.bookAddGroup{
  margin-top: 2px;
  background-color: white;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  display: flex;
  -webkit-box-shadow: 0px 1px 1px #c8c8c8;
  -moz-box-shadow: 0px 1px 1px #c8c8c8;
  box-shadow: 0px 1px 1px #c8c8c8;
}
.bookContent{
  flex:auto;
  padding-left: 15px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.bookContent input{
  height: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #d5cece;
  border-radius: 0px;
}
.bookContent input:focus{
  font-size: 14px  !important;
}
.bookTitle{
  font-size: 18px;
}
.bookMessage{
  font-size: 12px;
  line-height: 18px;
  color: #66666cc7;
}