.readLogGroup{
  background-color: white;
  display: flex;
  -webkit-box-shadow: 0px 1px 1px #c8c8c8;
  -moz-box-shadow: 0px 1px 1px #c8c8c8;
  box-shadow: 0px 1px 1px #c8c8c8;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.readLogTitle{
  padding: 8px;
  background-color: #e6e6e6;
}
.readLogMsg{
  padding: 8px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}
.readLogMsg div{
  flex:0.5;
  line-height: 20px;
}